---
- hosts: all
  become_method: sudo
  vars:
      user: vagrant
      home: /home/{{ user }}
  roles:
  {% for project in projects %}
      - {
          role: 'webproject',
{% for key, value in project.iteritems() %}          {{ key }}: '{{ value }}',
{% endfor %}
          tags: {{ project.domain }}
        }
  {% endfor %}
